<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde id totam cupiditate quo, adipisci modi earum ipsam illum minus culpa esse dignissimos, quasi mollitia nulla nesciunt molestias ea optio iste?</p>
    <p class="text-xs">Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
    <div>
        <app-wave-audio audioUrl="audio.mp3" />
    </div>
</div>
